@font-face {
  font-family: 'wakeupicons';
  src: url("../fonts/wakeupicons.eot?z4t62r");
  src: url("../fonts/wakeupicons.eot?z4t62r#iefix") format("embedded-opentype"), url("../fonts/wakeupicons.ttf?z4t62r") format("truetype"), url("../fonts/wakeupicons.woff?z4t62r") format("woff"), url("../fonts/wakeupicons.svg?z4t62r#wakeupicons") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/wakeupicons.scss */
[class^="wake-"], [class*=" wake-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'wakeupicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 27, ../sass/wakeupicons.scss */
.wake-iconup:before {
  content: "\e921";
}

/* line 30, ../sass/wakeupicons.scss */
.wake-icon1:before {
  content: "\e900";
}

/* line 33, ../sass/wakeupicons.scss */
.wake-icon2:before {
  content: "\e901";
}

/* line 36, ../sass/wakeupicons.scss */
.wake-icon3:before {
  content: "\e902";
}

/* line 39, ../sass/wakeupicons.scss */
.wake-icon4:before {
  content: "\e903";
}

/* line 42, ../sass/wakeupicons.scss */
.wake-icon5:before {
  content: "\e904";
}

/* line 45, ../sass/wakeupicons.scss */
.wake-icon6:before {
  content: "\e905";
}

/* line 48, ../sass/wakeupicons.scss */
.wake-icon7:before {
  content: "\e906";
}

/* line 51, ../sass/wakeupicons.scss */
.wake-icon8:before {
  content: "\e907";
}

/* line 54, ../sass/wakeupicons.scss */
.wake-icon9:before {
  content: "\e908";
}

/* line 57, ../sass/wakeupicons.scss */
.wake-icon10:before {
  content: "\e909";
}

/* line 60, ../sass/wakeupicons.scss */
.wake-icon11:before {
  content: "\e90a";
}

/* line 63, ../sass/wakeupicons.scss */
.wake-icon12:before {
  content: "\e90b";
}

/* line 66, ../sass/wakeupicons.scss */
.wake-icon13:before {
  content: "\e90c";
}

/* line 69, ../sass/wakeupicons.scss */
.wake-icon14:before {
  content: "\e90d";
}

/* line 72, ../sass/wakeupicons.scss */
.wake-icon15:before {
  content: "\e90e";
}

/* line 75, ../sass/wakeupicons.scss */
.wake-icon16:before {
  content: "\e90f";
}

/* line 78, ../sass/wakeupicons.scss */
.wake-icon17:before {
  content: "\e910";
}

/* line 81, ../sass/wakeupicons.scss */
.wake-icon18:before {
  content: "\e912";
}

/* line 84, ../sass/wakeupicons.scss */
.wake-icon19:before {
  content: "\e913";
}

/* line 87, ../sass/wakeupicons.scss */
.wake-icon20:before {
  content: "\e914";
}

/* line 90, ../sass/wakeupicons.scss */
.wake-icon21:before {
  content: "\e915";
}

/* line 93, ../sass/wakeupicons.scss */
.wake-icon22:before {
  content: "\e916";
}

/* line 96, ../sass/wakeupicons.scss */
.wake-icon23:before {
  content: "\e918";
}

/* line 99, ../sass/wakeupicons.scss */
.wake-icon24:before {
  content: "\e919";
}

/* line 102, ../sass/wakeupicons.scss */
.wake-icon25:before {
  content: "\e91a";
}

/* line 105, ../sass/wakeupicons.scss */
.wake-icon26:before {
  content: "\e91b";
}

/* line 108, ../sass/wakeupicons.scss */
.wake-check:before {
  content: "\f00c";
}

/* line 111, ../sass/wakeupicons.scss */
.wake-left:before {
  content: "\f104";
}

/* line 114, ../sass/wakeupicons.scss */
.wake-right:before {
  content: "\f105";
}

/* line 117, ../sass/wakeupicons.scss */
.wake-up:before {
  content: "\f106";
}

/* line 120, ../sass/wakeupicons.scss */
.wake-down:before {
  content: "\f107";
}

/* line 123, ../sass/wakeupicons.scss */
.wake-home:before {
  content: "\e911";
}

/* line 126, ../sass/wakeupicons.scss */
.wake-book:before {
  content: "\e91c";
}

/* line 129, ../sass/wakeupicons.scss */
.wake-phone:before {
  content: "\e91d";
}

/* line 132, ../sass/wakeupicons.scss */
.wake-menu:before {
  content: "\e91e";
}

/* line 135, ../sass/wakeupicons.scss */
.wake-plus:before {
  content: "\e91f";
}

/* line 138, ../sass/wakeupicons.scss */
.wake-minus:before {
  content: "\e920";
}

/* line 141, ../sass/wakeupicons.scss */
.wake-cross:before {
  content: "\e917";
}
